Django==4.1.4
asgiref==3.6.0
beautifulsoup4==4.11.1
crispy-bootstrap5==0.7
django-bootstrap-v5==1.0.11
django-crispy-forms==1.14.0
django-jazzmin==2.6.0
Pillow==9.3.0
soupsieve==2.3.2.post1
sqlparse==0.4.3
tzdata==2022.7
