{% extends 'partials/body.html' %}

{% block contenido %}
<br>
  <div class="row justify-content-center">
    <div class="col-8">
      <h2>Restablecer su contraseña</h2>
      <p>Le hemos enviado por correo electrónico las instrucciones para configurar su contraseña, si existe una cuenta con el correo electrónico que ingresó. Deberías recibirlos en breve.</p>
      <p>Si no recibe un correo electrónico, asegúrese de haber ingresado la dirección con la que se registró y verifique su carpeta de correo no deseado.</p>
    </div>
  </div>
  <br>
{% endblock %}