{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <title>ASOARTE STORE</title>
        <meta charset = "UTF-8">
    </head>
    <body class"text-muted">
      <nav class=" text-muted navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">                  
              <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                <img src="{% static 'img/logo.png' %}" alt="" width="112" class="d-inline-block align-text-top">
                <span class="fs-4">ASOARTE STORE</span>
              </a>
              <ul class="nav">
                <li class="nav-item"><a href="{% url 'inicio' %}" class="nav-link active" aria-current="page"><i class="fa-solid fa-home"></i> Inicio</a></li>
                <li class="nav-item"><a href="{% url 'Tienda' %}" class="nav-link"><i class="fa-solid fa-tachograph-digital"></i> Catálogo</a></li>        
                <li class="nav-item"><a href="{% url 'correo' %}" class="nav-link"><i class="fa-solid fa-person-chalkboard"></i> Contáctenos</a></li>
                <li class="nav-item"><a href="{% url 'Somos' %}" class="nav-link"><i class="fa-solid fa-book"></i> Sobre Nosotos</a></li>
                {% if user.is_authenticated %}
                <li class="nav-item"><a href="{% url 'logout' %}" class="nav-link"><i class="fa-solid fa-right-from-bracket"></i> Salir</a>                  
                  {% else %}
                  <li class="nav-item"><a href="{% url 'login' %}" class="nav-link"><i class="fa-solid fa-user"></i> Ingresar</a>                    
                {% endif %}
                </ul>
              </div>
            </nav>         
          <div>
            {% block contenido %}
          
            {% endblock %}
          </div>    
        </div>
      </body>
<br>
<div class="container">
<footer class="py-5">
  <div class="row">
  <div class="col-6 col-md-2 mb-3">
  <h5>Sección</h5>
  <ul class="nav flex-column">
  <li class="nav-item mb-2"><a href="{% url 'inicio' %}" class="nav-link p-0 text-muted">Inicio</a></li>
  <li class="nav-item mb-2"><a href="{% url 'Somos' %}" class="nav-link p-0 text-muted">Características</a></li>
  <li class="nav-item mb-2"><a href="{% url 'Tienda' %}" class="nav-link p-0 text-muted">Precios</a></li>
  </ul>
  </div>
  <div class="col-6 col-md-2 mb-3">
  <h5>Sección</h5>
  <ul class="nav flex-column">
  <li class="nav-item mb-2"><a href="{% url 'inicio' %}" class="nav-link p-0 text-muted">Inicio</a></li>
  <li class="nav-item mb-2"><a href="{% url 'Somos' %}" class="nav-link p-0 text-muted">Características</a></li>
  <li class="nav-item mb-2"><a href="{% url 'Tienda' %}" class="nav-link p-0 text-muted">Precios</a></li>  
  </ul>
  </div>
  <div class="col-6 col-md-2 mb-3">
  <h5>Sección</h5>
  <ul class="nav flex-column">
  <li class="nav-item mb-2"><a href="{% url 'inicio' %}" class="nav-link p-0 text-muted">Inicio</a></li>
  <li class="nav-item mb-2"><a href="{% url 'Somos' %}" class="nav-link p-0 text-muted">Características</a></li>
  <li class="nav-item mb-2"><a href="{% url 'Tienda' %}" class="nav-link p-0 text-muted">Precios</a></li>  
  </ul>
  </div>
  <div class="col-md-5 offset-md-1 mb-3">
  <form>
    <nav>
  <h5>Suscríbete a nuestro newsletter</h5>
  <p>Resumen mensual de lo que es nuevo y emocionante de nosotros.</p>
  <div class="d-flex flex-column flex-sm-row w-100 gap-2">
  <label for="newsletter1" class="visually-hidden">Correo electrónico</label>
  <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
  <button class="btn btn-primary" type="button">Suscribirme</button>
  </div>
  </form>
  </div>
  </div>
  <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
  <p>© 2022 Company, ASOARTE STORE, Inc. Reservados todos los derechos.</p>
  <ul class="list-unstyled d-flex">
  <li class="ms-3"><a class="link-dark" href="#"><i class="fa fa-twitter" aria-hidden="true"></i><use xlink:href="#twitter"></use></svg></a></li>
  <li class="ms-3"><a class="link-dark" href="http://www.w3.org/2000/svg"><i class="fa fa-instagram" aria-hidden="true"></i><use xlink:href="#instagram"></use></svg></a></li>
  <li class="ms-3"><a class="link-dark" href="#"><i class="fa fa-facebook"></i><use xlink:href="#facebook"></use></svg></a></li>
  </ul>
  </div>  
  </footer>
</div>
<script src="https://kit.fontawesome.com/78987424cc.js" crossorigin="anonymous"></script>
</html>


